.chat-2ZfjoI {
    z-index: 103;
    .container-ZMc96U {
        -webkit-app-region: drag;
        .topic-11NuQZ, .title-17SveM, .nicknames-10Sg6e {
            -webkit-app-region: no-drag;
        }
    }
}