.chat_f75fb0 {
    z-index: 103;
}

.container__9293f {
    z-index: 103;
    -webkit-app-region: drag;
    .topic__6ec1a,
    .title_f75fb0,
    .nicknames__488b1 > div,
    .item__133bf,
    .titleWrapper__9293f[role="button"] {
        -webkit-app-region: no-drag;
    }
}