.chat__52833 {
    z-index: 103;
}

.container__26baa {
    z-index: 103;
    -webkit-app-region: drag;
    .topic__16ae3,
    .title_d4ba1a,
    .nicknames__12efb > div,
    .item_e4ca95,
    .titleWrapper_d6133e[role="button"] {
        -webkit-app-region: no-drag;
    }
}