.standardSidebarView__23e6b {
    z-index: unset;

    .sidebarRegionScroller__23e6b {
        z-index: 103;
    }

    .contentRegion__23e6b {
        z-index: 103;
    }

    .contentColumn__23e6b  {
        -webkit-app-region: no-drag;
    }
}