.standardSidebarView__1129a {
    z-index: unset;

    .sidebarRegionScroller__1fa7e {
        z-index: 103;
    }

    .contentRegion__0bec1 {
        z-index: 103;
    }

    .contentColumn_dc7d36  {
        -webkit-app-region: no-drag;
    }
}