.standardSidebarView_c25c6d {
    z-index: unset;

    .sidebarRegionScroller_c25c6d {
        z-index: 103;
    }

    .contentRegion_c25c6d {
        z-index: 103;
    }

    .contentColumn_c25c6d  {
        -webkit-app-region: no-drag;
    }
}