.platform-win .sidebar_a4d4d9 {
    border-radius: 0;
    .header_fd6364, .searchBar_f0963d {
        z-index: 103;
    }
    .header_fd6364, .searchBarComponent_f0963d {
        -webkit-app-region: no-drag;
    }
    .searchBar_f0963d {
        -webkit-app-region: drag;
    }
}