.platform-win .sidebar_e031be {
    border-radius: 0;
    .header__77c95, .searchBar__621ec {
        z-index: 103;
    }
    .header__77c95, .searchBarComponent__8f95f {
        -webkit-app-region: no-drag;
    }
    .searchBar__621ec {
        -webkit-app-region: drag;
    }
}