.platform-win {
    .typeWindows_e41dab {
        z-index: 102;
        position: absolute;
        flex-direction: row;
        align-items: center;
        top: 1px;
        width: 100%;
        margin: 0;
        padding-top: 12px;
        padding-right: 9px;
        padding-left: 3px;
        -webkit-app-region: drag;
        .wordmark__5b8c9 {
            top: 11px;
            left: 11px;
            width: 52px;
            height: 12px;
            padding: 0;
            -webkit-app-region: no-drag;
            g {
                display: none;
            }
        }
        .winButton_f17fb6 {
            width: 12px;
            height: 12px;
            margin-left: 8px;
            border-radius: 15px;
            background-color: var(--background-primary);
            background-size: 0;
            -webkit-app-region: no-drag;
            svg {
                display: none;
            }
        }
    }
    &.app-focused {
        .typeWindows_e41dab {
            &:hover div.winButton_f17fb6 {
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
            }
            .winButtonClose__6396d {
                background-color: #ff5c57;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMjkyODkgNkwyLjgxODAxIDMuNTI1MTNMMy41MjUxMiAyLjgxODAyTDUuOTk5OTkgNS4yOTI4OUw4LjQ3NDg3IDIuODE4MDJMOS4xODE5NyAzLjUyNTEzTDYuNzA3MSA2TDkuMTgxOTcgOC40NzQ4N0w4LjQ3NDg3IDkuMTgxOThMNS45OTk5OSA2LjcwNzExTDMuNTI1MTIgOS4xODE5OEwyLjgxODAxIDguNDc0ODdMNS4yOTI4OSA2WiIgZmlsbD0iI0EyMDAwOCIvPgo8L3N2Zz4=);
            }
            .winButtonMinMax_caf9c8:nth-child(2n) {
                background-color: #fdbd3d;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDUuMzk5OTlIMlY2LjU5OTk5SDEwVjUuMzk5OTlaIiBmaWxsPSIjQjM3MTFBIi8+Cjwvc3ZnPg==);
            }
            .winButtonMinMax_caf9c8:nth-child(3n) {
                order: 3;
                background-color: #26c84b;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMzkyOTMgMy4wMDg5M0wzLjAwODg3IDcuMzkyOTlMMi44MTc5NSAyLjgxODAxTDcuMzkyOTMgMy4wMDg5M1oiIGZpbGw9IiMwMjZBMTUiLz4KPHBhdGggZD0iTTQuNjA2OTUgOC45OTEwMUw4Ljk5MTAxIDQuNjA2OTVMOS4xODE5MyA5LjE4MTkzTDQuNjA2OTUgOC45OTEwMVogIiBmaWxsPSIjMDI2QTE1Ii8+Cjwvc3ZnPg==);
            }
        }
    }
}