.platform-win {
    // titlebar stuff
    .titleBar-AC4pGV.directionRowReverse-m8IjIq {
        position: fixed;
        z-index: 102;
        top: -8px;
        flex-direction: row;
        width: 100%;
        height: 0;

        &::after {
            position: absolute;
            top: 13px;
            left: 10px;
            content: "";
            width: 52px;
            height: 14px;
            border-radius: 25px;
            background-color: transparent;
        }

        &:hover .winButton-iRh8-Z {
            background-size: 100%;
        }
    }

    // webkit dragging (scuffed)
    .layer-3QrUeG[aria-label$="SETTINGS"],
    .pageWrapper-1PgVDX { // general
        &::before {
            position: absolute;
            z-index: 103;
            content: "";
            height: 35px;
            background: transparent;
            -webkit-app-region: drag;
        }
    }
    .layer-3QrUeG[aria-label$="SETTINGS"]::before { // settings
        top: 22px;
        right: 0;
        left: 72px;
        width: 96%;
    }
    .pageWrapper-1PgVDX { // discovery
        &::before { 
            top: 0;
            right: 16px;
            left: 0;
        }

        .searchHeader-2I26nG,
        .loaded-1eBnjq {
            -webkit-app-region: no-drag;
        }
    }
    .container-1r6BKw { // toolbars
        -webkit-app-region: drag; 

        .topic-TCb_qw.expandable-9fI_e3,
        .toolbar-1t6TWx {
            -webkit-app-region: no-drag; 
        }
    }

    // window buttons
    .winButton-iRh8-Z {
        z-index: 1003;
        top: 9px;
        left: 11px;
        width: 12px;
        height: 12px;
        border-radius: 25px;
        margin-top: 5px;
        margin-right: 7px;
        background-color: #2D2F32;

        svg {
            display: none;
        }
    }
    
    // when focused
    &.app-focused {
        .winButtonClose-1HsbF- {
            background: #FC615D 
                        url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.885 6L12 9.885L8.115 6L6 8.115L9.885 12L6 15.885L8.115 18L12 14.115L15.885 18L18 15.885L14.115 12L18 8.115L15.885 6Z" fill="%237E0508"/></svg>') 
                        center/0% 
                        no-repeat;
        }
        
        .winButtonMinMax-PBQ2gm[aria-label="Minimize"] {
            background: #FDBC40
                        url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2" y="5.5" width="8" height="1.01149" fill="%23975500"/></svg>')
                        center/0%
                        no-repeat;
        }

        .winButtonMinMax-PBQ2gm[aria-label="Maximize"] {
            background: #34C749
                        url('data:image/svg+xml;utf8,<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6045 4.2455C14.159 4.24392 14.6089 4.69384 14.6073 5.24834L14.5961 9.20755C14.5935 10.0971 13.5179 10.5408 12.8889 9.91182L8.941 5.96387C8.31201 5.33488 8.75573 4.2593 9.64526 4.25677L13.6045 4.2455Z" fill="%23006500"/><path d="M5.76201 14.0937C5.2075 14.0952 4.75759 13.6453 4.75917 13.0908L4.77043 9.1316C4.77296 8.24207 5.84854 7.79835 6.47754 8.42734L10.4255 12.3753C11.0545 13.0043 10.6108 14.0799 9.72122 14.0824L5.76201 14.0937Z" fill="%23006500"/></svg>')
                        center/0%
                        no-repeat;
        }
    }

    // misc changes
    .wordmark-2iDDfm { // bonk wordmark
        display: none;
    }
    .winButtonMinMax-PBQ2gm[aria-label="Maximize"] { // change order
        order: 3;
    }
    .guilds-1SWlCJ { // add padding to guilds
        padding-top: 28px;
    }
    .unreadMentionsIndicatorTop-2-tcdU { // fix for top unread
        margin-top: 23px;
    }
    .sidebar-2K8pFh { // remove border from sidebar
        border-radius: 0;
    }
}
