.platform-win {
    // titlebar stuff
    .titleBar-AC4pGV.directionRowReverse-m8IjIq {
        position: fixed;
        z-index: 102;
        flex-direction: row;
        width: 100%;
        height: 0;

        // remove watermark
        .wordmark-2iDDfm {
            display: none;
        }

        // button hover
        &::after {
            position: absolute;
            top: 5px;
            left: 10px;
            content: "";
            width: 52px;
            height: 14px;
            border-radius: 25px;
        }
        &:hover .winButton-iRh8-Z {
            background-size: 100%;
        }

        // webkit dragging (main)
        &::before {
            position: absolute;
            top: -4px;
            right: 0;
            left: 72px;
            content: "";
            height: 52px;
            -webkit-app-region: drag;
        }
    }

    // webkit dragging (override fixes)
    .container-1r6BKw {
        z-index: 102;
    }
    .sidebar-2K8pFh,
    .topic-TCb_qw.expandable-9fI_e3,
    .pageWrapper-1PgVDX .searchBox-3Y2Vi7,
    .pageWrapper-1PgVDX .card-3DjzTQ {
        z-index: 102;
        -webkit-app-region: no-drag;
    }

    // window buttons
    .winButton-iRh8-Z {
        z-index: 1003;
        top: 1px;
        left: 11px;
        width: 12px;
        height: 12px;
        border-radius: 25px;
        margin-top: 5px;
        margin-right: 7px;
        background-color: #2D2F32;

        svg {
            display: none;
        }

        &[aria-label="Maximize"] { // change order
            order: 3;
        }
    }
    // window buttons background (settings)
    [aria-label$="SETTINGS"]::after {
        position: absolute;
        z-index: 101;
        top: 28px;
        left: 7px;
        content: "";
        width: 58px;
        height: 20px;
        border-radius: 25px;
        background-color: var(--background-tertiary);
    }
    
    // when app focused
    &.app-focused {
        .winButtonClose-1HsbF- {
            background: #FC615D 
                        url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.885 6L12 9.885L8.115 6L6 8.115L9.885 12L6 15.885L8.115 18L12 14.115L15.885 18L18 15.885L14.115 12L18 8.115L15.885 6Z" fill="%237E0508"/></svg>') 
                        center/0% 
                        no-repeat;
        }
        
        .winButtonMinMax-PBQ2gm[aria-label="Minimize"] {
            background: #FDBC40
                        url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2" y="5.5" width="8" height="1.01149" fill="%23975500"/></svg>')
                        center/0%
                        no-repeat;
        }

        .winButtonMinMax-PBQ2gm[aria-label="Maximize"] {
            background: #34C749
                        url('data:image/svg+xml;utf8,<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6045 4.2455C14.159 4.24392 14.6089 4.69384 14.6073 5.24834L14.5961 9.20755C14.5935 10.0971 13.5179 10.5408 12.8889 9.91182L8.941 5.96387C8.31201 5.33488 8.75573 4.2593 9.64526 4.25677L13.6045 4.2455Z" fill="%23006500"/><path d="M5.76201 14.0937C5.2075 14.0952 4.75759 13.6453 4.75917 13.0908L4.77043 9.1316C4.77296 8.24207 5.84854 7.79835 6.47754 8.42734L10.4255 12.3753C11.0545 13.0043 10.6108 14.0799 9.72122 14.0824L5.76201 14.0937Z" fill="%23006500"/></svg>')
                        center/0%
                        no-repeat;
        }
    }

    // guildlist fixes
    .guilds-1SWlCJ {
        .scroller-1Bvpku {
            margin-top: 28px;
        }
        .unreadMentionsIndicatorTop-2-tcdU {
            margin-top: 23px;
        }
    }

    // misc changes
    .sidebar-2K8pFh { // remove border from sidebar
        border-radius: 0;
    }
}
