.platform-win .typeWindows-2-g3UY {
  z-index: 102;
  position: absolute;
  flex-direction: row;
  align-items: center;
  top: 1px;
  width: 100%;
  margin: 0;
  padding-top: 12px;
  padding-right: 9px;
  padding-left: 3px;
  -webkit-app-region: drag;
}
.platform-win .typeWindows-2-g3UY .wordmark-2u86JB {
  display: none;
}
.platform-win .typeWindows-2-g3UY .winButton-3UMjdg {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  border-radius: 15px;
  background-color: var(--background-primary);
  background-size: 0;
}
.platform-win .typeWindows-2-g3UY .winButton-3UMjdg svg {
  display: none;
}
.platform-win.app-focused .typeWindows-2-g3UY:hover div.winButton-3UMjdg {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.platform-win.app-focused .typeWindows-2-g3UY .winButtonClose-3Q8ZH5 {
  background-color: #ff5f57;
  background-image: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.29289 6L2.81801 3.52513L3.52512 2.81802L5.99999 5.29289L8.47487 2.81802L9.18197 3.52513L6.7071 6L9.18197 8.47487L8.47487 9.18198L5.99999 6.70711L3.52512 9.18198L2.81801 8.47487L5.29289 6Z" fill="%23800600"/></svg>');
}
.platform-win.app-focused .typeWindows-2-g3UY .winButtonMinMax-3RsPUg:nth-child(2n) {
  background-color: #febc2e;
  background-image: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 5.39999H2V6.59999H10V5.39999Z" fill="%23986801"/></svg>');
}
.platform-win.app-focused .typeWindows-2-g3UY .winButtonMinMax-3RsPUg:nth-child(3n) {
  order: 3;
  background-color: #28c840;
  background-image: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.58823 6.99015L5.00979 3.4117C4.85583 3.25774 4.9586 2.99422 5.17614 2.98514L8.91042 2.82931C9.05658 2.82321 9.17673 2.94335 9.17063 3.08952L9.01479 6.8238C9.00571 7.04134 8.74219 7.14411 8.58823 6.99015Z" fill="%23125E1E"/><path d="M3.41177 5.00982L6.99021 8.58827C7.14417 8.74223 7.0414 9.00575 6.82386 9.01483L3.08958 9.17066C2.94342 9.17676 2.82327 9.05661 2.82937 8.91045L2.98521 5.17617C2.99429 4.95863 3.25781 4.85586 3.41177 5.00982Z" fill="%23125E1E"/></svg>');
}

.guilds-2JjMmN {
  margin-top: 29px;
}

.platform-win .sidebar-1tnWFu {
  border-radius: 0;
}
.platform-win .sidebar-1tnWFu .header-3OsQeK, .platform-win .sidebar-1tnWFu .searchBar-3TnChZ {
  z-index: 103;
}
.platform-win .sidebar-1tnWFu .header-3OsQeK, .platform-win .sidebar-1tnWFu .searchBarComponent-3N7dCG {
  -webkit-app-region: no-drag;
}
.platform-win .sidebar-1tnWFu .searchBar-3TnChZ {
  -webkit-app-region: drag;
}

.container-ZMc96U {
  z-index: 103;
  -webkit-app-region: drag;
}